@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;500;600;700&display=swap');

:root {
  --branco: #fff;
  --preto: #000;
  --fundo: #141c2f;
  --container: #1f2a48;
  --botao: #0078ff;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

body {
  height: 100vh;
  background-color: #141c2f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 800px;
}
