@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;500;600;700&display=swap');

:root {
  --branco: #fff;
  --preto: #000;
  --fundo: #141c2f;
  --container: #1f2a48;
  --botao: #0078ff;
  --fundo-light: #f3ebf6;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

.App {
  height: 100vh;
  background-color: #141c2f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 800px;
}

#light {
  background-color: var(--fundo-light);
}

#light .container {
  background-color: var(--fundo-light);
}

#light .containerTopo__titulo {
  color: var(--preto);
}

#light .containerTopo__input {
  background-color: var(--branco);
}

#light .containerTopo__text {
  color: var(--preto)
}

#light .containerTopo__text::placeholder {
  color: var(--preto);
}

#light .containerTopo__botao {
  background-color: var(--fundo);
  color: var(--branco);
}

#light .containerBaixo {
  background-color: var(--branco);
  color: var(--preto);
}

#light .local p {
  color: var(--preto);
}

#light .link a {
  color: var(--preto);
}

#light .containerBaixo__foto {
  border: 4px solid var(--preto);
}

#light .info-3 {
  background-color: var(--fundo-light);
}

#light .info p {
  color: var(--preto);
  font-weight: 700;
}

#dark .sol {
  color: var(--branco);
  display: none;
}

#dark .lua {
  display: block;
  color: var(--branco);
}

.theme-switch {
  position: absolute;
  right: 305px;
  top: 170px;
}

.label-theme {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.label-theme p {
  font-size: .8em;
}

@media screen and (max-width: 1024px) {

  .container {
    width: 380px;
  }

  .theme-switch {
    position: fixed;
    right: 20px;
    top: 20px;
  }

}
