.containerTopo__titulo {
    color: var(--branco);
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}

.containerTopo__toggle {
    background-color: var(--fundo);
    border-radius: 100px;
    width: 20px;
    height: 20px;
}

.containerTopo__input {
    height: 45px;
    display: flex;
    justify-content: space-between;
    padding: .5em 1em;
    background-color: var(--container);
    border-radius: 15px;
}

.containerTopo__botao {
    width: 100px;
    border-radius: 15px;
    border: none;
    background-color: var(--botao);
    color: white;
    font-weight: 700;
    cursor: pointer;
    opacity: .8;
    transition: .2s;
}

.containerTopo__botao:hover {
    opacity: 1;
}

.containerTopo__text {
    background-color: transparent;
    width: 300px;
    border: none;
    color: var(--branco);
}

.containerTopo__text::placeholder {
    color: var(--branco);
}

.info-4 {
    display: flex;
    gap: 1em;
}
